// @font-face {
//     font-family: 'Gotham';
//     src: local('Gotham Condensed Light'), local('Gotham-Condensed-Light'), url('../fonts/GothamCondensedLight.woff2') format('woff2'), url('../fonts/GothamCondensedLight.woff') format('woff'), url('../fonts/GothamCondensedLight.ttf') format('truetype');
// }

// @font-face {
//     font-family: 'Book';
//     src: local('Gotham Condensed Book'), local('Gotham-Condensed-Book'), url('../fonts/GothamCondensedBook.woff2') format('woff2'), url('../fonts/GothamCondensedBook.woff') format('woff'), url('../fonts/GothamCondensedBook.ttf') format('truetype');
// }

// @font-face {
//     font-family: 'Bold';
//     src: local('Gotham Condensed Bold'), local('Gotham-Condensed-Book'), url('../fonts/GothamCondensedBold.woff2') format('woff2'), url('../fonts/GothamCondensedBold.woff') format('woff'), url('../fonts/GothamCondensedBold.ttf') format('truetype');
// }

// @font-face {
//     font-family: 'Black';
//     src: local('Gotham Condensed Black'), local('Gotham-Condensed-Black'), url('../fonts/GothamCondensedBlack.woff2') format('woff2'), url('../fonts/GothamCondensedBlack.woff') format('woff'), url('../fonts/GothamCondensedBlack.ttf') format('truetype');
// }