$primary = #306629
$secondary = #48aa50
$accent = #ff0000

colors = {
    primary: $primary,
    secondary: $secondary,
    accent: $accent,
    transparent: transparent,
    white: #fff,
    black: #000
}
